.hall {
  height: 100vh;
  padding-top: 20px;
  background-color: #f8f8f8;

  &_room {
    width: 80vw;
    height: 10vh;
    padding: 0 30px;
    margin: 20px auto 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 10px #eee;

    &_l {
      display: flex;
      align-items: center;

      img {
        display: block;
        width: 6vw;
        height: 6vw;
        margin-right: 10px;

        &.lock {
          width: 16px;
          height: 16px;
          margin-left: 4px;
        }
      }

      h1 {
        font-size: 16px;
      }
    }

    &_r {
      font-size: 12px;
      text-align: center;
      line-height: 20px;

      .start {
        color: #ff4101;
      }
    }
  }
}